.popup__submit-button {
  position: absolute;
  top: 243px;
  left: 36px;
  color: #FFFFFF;
  background-color: black;
  transition: .4s;
  width: 358px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.popup__submit-button:hover {
    opacity: 0.4;
    cursor: url(../../../images/Layer\ 1\ 1.png), auto;
  }

  @media screen and (max-width: 767px) {
    .popup__submit-button {
      top: 251px;
      left: 22px;
      width: 238px;
      height:  46px;
      font-size: 14px;
      line-height: 17px;
    }
  }
  