.elements__like {
  background-image: url(../../../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  background-color: transparent;
  border: none;
}

.elements__like:hover {
  transition: .4s;
  opacity: 0.4;
  cursor: pointer;
}

.elements__like:active {
  background-color: black;
  transition: background 0s;
}