.popup__close-button {
  background-image: url(../../../images/Close\ Icon.png);
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  position: absolute;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
}

.popup__close-button:hover {
  opacity: 0.4;
  transition: .4s;
  cursor: url(../../../images/Layer\ 1\ 1.png), auto;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    right: 0;
    top: -32px;
    width: 20px;
    height: 20px;
  }
}